DATABASE_URL="postgresql://neondb_owner:npg_Cv6eGj7JLsFz@ep-square-hall-ahclz2on-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="e0e8c0751b48943414473797244b7e89c091dc29e56065656f8175d78b0da8eb"
JWT_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID="377709171063-hfds1ttk8fr9vlfgd3orrf0gf4ua8t4v.apps.googleusercontent.com"
PORT=3001
CLIENT_URL="http://localhost:5173"

